<footer class="row bg-dark">
    <p class="col-12 text-white">
        <strong>How to find me:</strong>
        <a href="https://github.com/Malotkya"><img src="/img/github.svg" alt="GitHub" class="icon"/></a>
        <a href="https://www.linkedin.com/in/amalotky/"><img src="/img/linkedin.svg" alt="LinkedIn" class="icon"/></a>
    </p>
</footer>

</div>
</body>
</html>
