<footer class="col-12">
    <%#<p style="float: right">
        <?php
            echo '<a href="admin.php">Admin Page</a><br />';
            echo "Last updated: " . date("F d, Y", filemtime($DOC_SELF));
        ?>
    </p> %>
    <p>
        <h3>How to find me:</h3>
        <a href="https://github.com/Malotkya"><img src="img/github.svg" alt="GitHub" class="icon"/></a>
        <a href="https://www.linkedin.com/in/amalotky/"><img src="img/linkedin.svg" alt="LinkedIn" class="icon"/></a>
    </p>
</footer>

</div>
</body>
</html>
