<nav aria-label="Main Navigation" class="navbar navbar-expand-md bg-dark navbar-dark">
    <h1 class="navbar-brand text-white">
        <a href="/">
            AlexMalotky.com
        </a>
    </h1>

    <button class="navbar-toggler nav-icon" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <div></div>
        <div></div>
        <div></div>
    </button>
    <!-- Main Menu Bar -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
        <!-- Resume -->
        <li class="nav-item">
            <a class="nav-link" href="/Resume">Resume</a>
        </li>

        <!-- Site Progression -->
        <li class="nav-item">
            <a class="nav-link" href="/About">About</a>
        </li>

        <!-- Node.js Apps -->
        <!--The blog is still under development-->
        <!--<li class="nav-item">
            <a href="blog.php">Blog</a>
        </li> -->

        <!-- Javascript Apps -->
        <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Javascript Apps</a>
            <ul class="dropdown-menu bg-dark" aria-haspopup="true">
                <li class=""><a href="/cmd" target="#" class="nav-link">Terminal</a></li>
                <li class=""><a href="/dice" class="nav-link">Dice</a></li>
            </ul>
        </li>
    </ul>
    </div>
</nav>
