<nav class="row" aria-label="Main Navigation">
  <!--I might animate the menu icon later-->
  <button class="nav-icon">
    <div></div>
    <div></div>
    <div></div>
  </button>

  <!-- Main Menu Bar -->
  <ul class="nav-bar">
    <!-- Home Button -->
    <li class="col-2 col-m-2 nav-item"><a href="/">Home</a></li>

    <!-- Resume -->
    <li class="col-2 col-m-2 nav-item"><a href="/Resume">Resume</a></li>

    <!-- Site Progression -->
    <li class="col-2 col-m-2 nav-item"><a href="/About">About</a></li>

    <!-- Blog -->
    <!--The blog is still under development-->
    <!--<li class="col-2 col-m-2 nav-item">
        <a href="blog.php">Blog</a>
    </li> -->

    <!-- Command Line Test Page -->
    <li class="col-2 col-m-2 nav-item">
        <a href="#">Javascript Apps</a>
        <ul class="h-2 h-s-6" aria-haspopup="true">
          <li class="nav-item"><a href="/cmd" target="#">Terminal</a></li>
          <li class="nav-item"><a href="/dice">Dice</a></li>
        </ul>
    </li>
  </ul>
</nav>
