<nav aria-label="Main Navigation" class="navbar navbar-expand-md navbar-dark">
    <h1 class="navbar-brand">
        <a href="/">
            AlexMalotky.com
        </a>
    </h1>

    <button class="navbar-toggler nav-icon" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <div></div>
        <div></div>
        <div></div>
    </button>
    <!-- Main Menu Bar -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
        <!-- Resume -->
        <li class="nav-item">
            <a class="nav-link" href="/Resume">Resume</a>
        </li>

        <!-- Portfolio -->
        <li class="nav-item dropdown">
            <a class="nav-link" href="/Portfolio">Portfolio</a>

            <ul class="dropdown-menu" aria-haspopup="true">

                <!-- Javascript Apps -->
                <li class="nav-item"><h3 class="header">Javascript Apps</h3></li>
                <li class="nav-item"><a href="/cmd" class="nav-link">Terminal</a></li>
                <li class="nav-item"><a href="/Dice" class="nav-link">Dice</a></li>
                <li class="dropdown-divider"></li>

                <!-- Node.js Apps -->
                <li class="nav-item"><h3 class="header">Node.js Apps</h3></li>
                <li class="nav-item"><a href="/Blog" class="nav-link">Blog</a></li>
                <li class="nav-item"><a href="/FamilyTree" class="nav-link">Family Tree</a></li>
            </ul>
        </li>

        <!-- Login/Logout -->
        <% if(typeof user === "undefined") { %>
            <li class="nav-item">
                <a class="nav-link" href="/Login">Login</a>
            </li>
        <% } else { %>
            <li class="nav-item">
                <a class="nav-link" href="/Logout">Logout</a>
            </li>
        <% } %>
    </ul>
    </div>
</nav>
