@import url('https://fonts.googleapis.com/css?family=Bungee|Roboto+Mono|Source+Code+Pro&display=swap');
/*
    font-family: 'Roboto Mono', monospace;
    font-family: 'Source Code Pro', monospace;
    font-family: 'Bungee', cursive;
*/

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
    background-color: black;
    color: green;
    font-family: 'Source Code Pro', monospace;
}

a:link, a:visited {
    color: inherit;
}

#wrapper {
    position: absolute;
    height: 97.5%;
    width:  99%;
}
