@import url('https://fonts.googleapis.com/css?family=Bungee|Source+Code+Pro&display=swap');
/*
    font-family: 'Roboto Mono', monospace;
    font-family: 'Source Code Pro', monospace;
    font-family: 'Bungee', cursive;
*/

@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/RobotoMono-Regular.ttf);
}

.hidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

.nav-icon div {
  width: 35px;
  height: 5px;
  background-color: rgba(255,255,255,.5);
  margin: 6px;
}

.icon {
    width: 2em;
    height: auto;
}

#wrapper {
  background-color: slateblue;
  font-family: 'Roboto Mono', monospace;
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
  overflow-y: visible;
  overflow-x: hidden;
}

figure img{
    width: 100%;
    height: auto;
}

.tab-content .container {
    max-width: 100%;
}

.form {
    background-color: gray;
}

header, footer {
    padding: 0.25em;
    background-color: #343a40;
}

#terminal {
    max-height: 75vh;
    overflow-y:scroll;
    overflow-x: hidden;
    scrollbar-width: thin;
    margin: auto;
}
