* {
  box-sizing: border-box;
}

[class*="col-"] {
  display: block;
  float: left;
  padding: 15px;
  margin: 0;
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

/* Used for headers*/
[class*="h-"] {
  width: 100%;
}

#wrapper {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 1100px;
}

header {
    font-size: 70%;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

@media (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}

  .h-s-1 {width: 8.33%;}
  .h-s-2 {width: 16.66%;}
  .h-s-3 {width: 25%;}
  .h-s-4 {width: 33.33%;}
  .h-s-5 {width: 41.66%;}
  .h-s-6 {width: 50%;}
  .h-s-7 {width: 58.33%;}
  .h-s-8 {width: 66.66%;}
  .h-s-9 {width: 75%;}
  .h-s-10 {width: 83.33%;}
  .h-s-11 {width: 91.66%;}
  .h-s-12 {width: 100%;}

  header {font-size: 100%}
}
@media (min-width: 768px) {
  /* For desktop: */
  .col-m-1 {width: 8.33%;}
  .col-m-2 {width: 16.66%;}
  .col-m-3 {width: 25%;}
  .col-m-4 {width: 33.33%;}
  .col-m-5 {width: 41.66%;}
  .col-m-6 {width: 50%;}
  .col-m-7 {width: 58.33%;}
  .col-m-8 {width: 66.66%;}
  .col-m-9 {width: 75%;}
  .col-m-10 {width: 83.33%;}
  .col-m-11 {width: 91.66%;}
  .col-m-12 {width: 100%;}

  .h-m-1 {width: 8.33%;}
  .h-m-2 {width: 16.66%;}
  .h-m-3 {width: 25%;}
  .h-m-4 {width: 33.33%;}
  .h-m-5 {width: 41.66%;}
  .h-m-6 {width: 50%;}
  .h-m-7 {width: 58.33%;}
  .h-m-8 {width: 66.66%;}
  .h-m-9 {width: 75%;}
  .h-m-10 {width: 83.33%;}
  .h-m-11 {width: 91.66%;}
  .h-m-12 {width: 100%;}
}

@media (min-width: 1200px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}

  .h-1 {width: 8.33%;}
  .h-2 {width: 16.66%;}
  .h-3 {width: 25%;}
  .h-4 {width: 33.33%;}
  .h-5 {width: 41.66%;}
  .h-6 {width: 50%;}
  .h-7 {width: 58.33%;}
  .h-8 {width: 66.66%;}
  .h-9 {width: 75%;}
  .h-10 {width: 83.33%;}
  .h-11 {width: 91.66%;}
  .h-12 {width: 100%;}


}

figure img {
  max-width: 100%;
}
