<button type="button" class="btn btn-success m-1" data-toggle="modal" data-target="#modalNew">
  New Family Member
</button>

<form class="modal text-left" id="modalNew" action="/FamilyTree/Create" method="POST" <!--enctype="multipart/form-data"-->>
    <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">New Family Member</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
          <lable for="name">Name:</lable>
          <input type="text" name="name" id="name" class="form-control" />

          <label for="picture">Picture: </label>
          <input type="file" name="picture" id="picture" class="w-100" />

          <lable for="parent">Parent: </lable>
          <select id="parent" name="parent_id" class="form-control">
              <option value="">None</option>
              <% tree.forEach(person => { %>
                  <%- include("familyMember", {person:person}) %>
              <% }) %>
          </select>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
          <input type="submit" value="Submit" class="btn btn-primary"/>
          <input type="reset" class="btn btn-secondary" data-dismiss="modal" value="Cancel">
      </div>

    </div>
  </div>
</form>
