<%- include("template/header.ejs", {title: 'Terminal App'}); %>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="module" src='./js/cmd.js'></script>
<main id="main">
    <div id="terminal"></div>
</main>
<%- include("template/footer.ejs") %>
