<%- include("template/header.ejs", {title: 'Alex Malotky'}); %>
<script src="/js/dice.js" charset="utf-8"></script>
<link rel="stylesheet" href="/css/dice.css">
<main id="main" class="row">
    <% for(let i=1;i<6;i++) { %>
        <div class="die col-md-2 col-sm-4 col-6" id="<%= i %>">
            <figure class="d<%= i %> m-1"></figure>
        </div>
    <% } %>
    <div class="col-md-2 col-sm-4 col-6">
        <button class="btn btn-primary" id="role">Role Dice</button>
        <button class="btn btn-secondary" id="reset">Reset</button>
    </div>
    <div class="col-12 row scoreboard">
        <strong class="col-12">Scoring</strong>
        <div class="col-sm-4">
            <div class="w-100 row">
                <span class="col-6">Ones:</span>
                <span class="col-6">
                    <button class="btn btn-primary" id="take1">Take</button>
                </span>
            </div>
            <div class="w-100 row">
                <span class="col-6">Twos:</span>
                <span class="col-6">
                    <button class="btn btn-primary" id="take2">Take</button>
                </span>
            </div>
            <div class="w-100 row">
                <span class="col-6">Threes:</span>
                <span class="col-6">
                    <button class="btn btn-primary" id="take3">Take</button>
                </span>
            </div>
            <div class="w-100 row">
                <span class="col-6">Fours:</span>
                <span class="col-6">
                    <button class="btn btn-primary" id="take4">Take</button>
                </span>
            </div>
            <div class="w-100 row">
                <span class="col-6">Fives:</span>
                <span class="col-6">
                    <button class="btn btn-primary" id="take5">Take</button>
                </span>
            </div>
            <div class="w-100 row">
                <span class="col-6">Sixs:</span>
                <span class="col-6">
                    <button class="btn btn-primary" id="take6">Take</button>
                </span>
            </div>
            <div class="w-100 row">
                <span class="col-6">Bonus Points:</span>
                <span class="col-6" id="bonusPoints"></span>
            </div>
        </div>
        <div class=col-sm-4>
            <div class="w-100 row">
                <span class="col-6">Three of a Kind:</span>
                <span class="col-6">
                    <button class="btn btn-primary" id="take3K">Take</button>
                </span>
            </div>
            <div class="w-100 row">
                <span class="col-6">Four of a Kind:</span>
                <span class="col-6">
                    <button class="btn btn-primary" id="take4K">Take</button>
                </span>
            </div>
            <div class="w-100 row">
                <span class="col-6">Full House:</span>
                <span class="col-6">
                    <button class="btn btn-primary" id="takeFH">Take</button>
                </span>
            </div>
            <div class="w-100 row">
                <span class="col-6">Small Strait:</span>
                <span class="col-6">
                    <button class="btn btn-primary" id="takeSS">Take</button>
                </span>
            </div>
            <div class="w-100 row">
                <span class="col-6">Large Strait:</span>
                <span class="col-6">
                    <button class="btn btn-primary" id="takeLS">Take</button>
                </span>
            </div>
            <div class="w-100 row">
                <span class="col-6">Yahtzee:</span>
                <span class="col-6">
                    <button class="btn btn-primary" id="takeY">Take</button>
                </span>
            </div>
            <div class="w-100 row">
                <span class="col-6">Chance:</span>
                <span class="col-6" id="bonusPoints">
                    <button class="btn btn-primary" id="takeCH">Take</button>
                </span>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="w-100 row">
                <span class="col-9">Upper Sub Total:</span>
                <span class="col-3" id="upperSubTotal"></span>
            </div>
            <div class="w-100 row">
                <span class="col-9">Lower Sub Total:</span>
                <span class="col-3" id="lowerSubTotal"></span>
            </div>
            <hr />
            <div class="w-100 row">
                <span class="col-9">Additional Yahtzee's:</span>
                <span class="col-3" id="additionlYahtzee"></span>
            </div>
            <hr />
            <div class="w-100 row">
                <span class="col-9">Total:</span>
                <span class="col-3" id="total"></span>
            </div>
    </div>
</main>
<%- include("template/footer.ejs") %>
