<%- include("template/header.ejs", {title: 'Alex Malotky'}); %>
<link rel="stylesheet" href="/css/tree.css">
<main id="main" class="row">
    <!--
    We will create a family tree using just CSS(3)
    The markup will be simple nested lists
    -->
    <section class="tree col-sm-9">
        <ul>
            <%- include("tree/familyMember.ejs", {parent:parent}); %>
        </ul>
    </section>
    <aside class="col-sm-3">
        <%- include("tree/form.ejs") %>
    </aside>
    <div class="col-12">
        The family tree css code is base on an example that can be found
        <a href="https://codepen.io/Pestov/pen/BLpgm" target="#">here</a>.
    </div>
</main>
<%- include("template/footer.ejs") %>
