<%- include("template/header.ejs", {title: 'Alex Malotky'}); %>
<main id="main" class="col-12">
    <article class="row imageRight">
        <h2 class="col-9 col-m-8 col-s-6" >Welcome</h2>
        <figure class="col-3 col-m-4 col-s-6">
            <img src="img/face.jpg" alt="Alex Malotky"  />
        </figure>
        <section class="col-9 col-m-8 col-s-6">
            <p>
                My name is Alex Malotky and I recently graduated from Madison Area
                Technical College with an Associates Degree in Web Software Developement.
                I am currently looking for an job in the development field and I am
                eager to use my degree.
            </p>
            <p>
                Some parts of my web page are still being worked on as I transfer
                from PHP.
            </p>
        </section>
    </article>
</main>
<%- include("template/footer.ejs") %>
