<%- include("template/header.ejs", {title: 'Alex Malotky'}); %>
<main id="main" class="col-12">
    <article class="row">
        <h1 class="col-9 col-m-8 col-s-6">Hello World!</h1>
    </article>
    <article class="row">
        <h2>Hello <%= name %></h2>
    </article>
</main>
<%- include("template/footer.ejs") %>
