<%- include("template/header.ejs", {title: 'Alex Malotky'}); %>
<main id="main">
    <h2>Portfolio</h2>
    <section>
        <h3 class="w-100 text-center">Javascript</h3>
        <article class="preview">
            <h4 class="col-md-8 col-sm-12">Terminal</h4>
            <figure class="col-md-4 col-sm-6">
                <img src="/img/preview-cmd.jpg" alt="Screenshot of Terminal App" />
            </figure>
            <p class="col-md-8 col-sm-6">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin viverra lacinia elit, venenatis egestas dui laoreet vitae. Maecenas at vehicula nisi. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Morbi eleifend, sem sit amet accumsan vehicula, urna magna lacinia odio, id convallis nisi risus lacinia enim. Nam elementum interdum tellus, quis scelerisque nisi. Morbi tortor risus, ullamcorper eu velit eget, lobortis tempus arcu. Etiam ipsum mauris, luctus porta turpis a, dapibus auctor elit. Donec nec vulputate odio. Sed fringilla lacus eget metus auctor, in imperdiet felis mattis. Pellentesque facilisis est sed convallis sollicitudin. Phasellus placerat ex a pharetra porttitor. In hac habitasse platea dictumst.
            </p>
        </article>

        <article class="preview">
            <h4 class="col-md-7 col-sm-12">Dice</h4>
            <figure class="col-md-4 col-sm-6">
                <img src="/img/preview-dice.jpg" alt="Screenshot of Dice App" />
            </figure>
            <p class="col-md-7 col-sm-6">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin viverra lacinia elit, venenatis egestas dui laoreet vitae. Maecenas at vehicula nisi. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Morbi eleifend, sem sit amet accumsan vehicula, urna magna lacinia odio, id convallis nisi risus lacinia enim. Nam elementum interdum tellus, quis scelerisque nisi. Morbi tortor risus, ullamcorper eu velit eget, lobortis tempus arcu. Etiam ipsum mauris, luctus porta turpis a, dapibus auctor elit. Donec nec vulputate odio. Sed fringilla lacus eget metus auctor, in imperdiet felis mattis. Pellentesque facilisis est sed convallis sollicitudin. Phasellus placerat ex a pharetra porttitor. In hac habitasse platea dictumst.
            </p>
        </article>
    </section>

    <section>
        <h3 class="w-100 text-center">Node.js</h3>
        <article class="preview">
            <h4 class="col-md-8 col-sm-12">Family Tree</h4>
            <figure class="col-md-4 col-sm-6">
                <img src="/img/preview-tree.jpg" alt="Screenshot of Family Tree App" />
            </figure>
            <p class="col-md-8 col-sm-6">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin viverra lacinia elit, venenatis egestas dui laoreet vitae. Maecenas at vehicula nisi. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Morbi eleifend, sem sit amet accumsan vehicula, urna magna lacinia odio, id convallis nisi risus lacinia enim. Nam elementum interdum tellus, quis scelerisque nisi. Morbi tortor risus, ullamcorper eu velit eget, lobortis tempus arcu. Etiam ipsum mauris, luctus porta turpis a, dapibus auctor elit. Donec nec vulputate odio. Sed fringilla lacus eget metus auctor, in imperdiet felis mattis. Pellentesque facilisis est sed convallis sollicitudin. Phasellus placerat ex a pharetra porttitor. In hac habitasse platea dictumst.
            </p>
        </article>

        <article class="preview">
            <h4 class="col-md-7 col-sm-12">Blog</h4>
            <figure class="col-md-4 col-sm-6">
                <img src="/img/preview-blog.jpg" alt="Screenshot of Blog" />
            </figure>
            <p class="col-md-7 col-sm-6">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin viverra lacinia elit, venenatis egestas dui laoreet vitae. Maecenas at vehicula nisi. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Morbi eleifend, sem sit amet accumsan vehicula, urna magna lacinia odio, id convallis nisi risus lacinia enim. Nam elementum interdum tellus, quis scelerisque nisi. Morbi tortor risus, ullamcorper eu velit eget, lobortis tempus arcu. Etiam ipsum mauris, luctus porta turpis a, dapibus auctor elit. Donec nec vulputate odio. Sed fringilla lacus eget metus auctor, in imperdiet felis mattis. Pellentesque facilisis est sed convallis sollicitudin. Phasellus placerat ex a pharetra porttitor. In hac habitasse platea dictumst.
            </p>
        </article>
    </section>
</main>
<%- include("template/footer.ejs") %>
