<form class="row" action="/Admin/Home" method="POST">
    <div class="col-12">
        <h3>Home Page</h3>
        <input type="submit" value="save" />
    </div>
    <textarea name="text" id="text" class="col-6"></textarea>
    <aside class="col-6">
        <h4>Images</h4>
        <input type="file" id="upload" />
        <div id="images"></div>
    </aside>
    <script src="/js/home.js"></script>
</form>
